body {
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
}

.header {
    width: 100vw;
    background-color: rgb(247, 249, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    font-size: 18px;
    margin-left: 15px;
    border-radius: 7px;
    width: 100px;
    height: 38px;
    cursor: pointer;
    background-color: rgb(168, 199, 235);
    box-shadow: 1px 1px 1px rgb(79, 99, 212),
    2px 2px 1px rgb(124, 105, 144);
}

.title_name {
    font-size: 50px;
    text-shadow: 1px 1px 1px rgb(45, 25, 90),
                2px 2px 1px rgb(117, 190, 178);
}

.button_box {
    text-align: right;
    padding: 30px 30px 30px 30px;
}

.cart_button::after {
    content: "Cart";
}

.home_button::after {
    content: "Home";

}

.products {
    margin: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product_box {
    margin: 40px;
    height: 410px;
    width: 230px;
    padding: 10px;
    word-wrap: break-word;
}

.product_box:hover {
    /* border: 2px solid; */
    background-color:  rgb(225, 232, 255);
    border-color: rgb(168, 199, 235);
}

.product_name {
    font-size: 17px;
}

.product_price {
    font-size: 18px;
    margin-top: 20px;
}

.page_title {
    width: 100vw;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.cart_product_box {
    margin: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cart_img {
    height: 100px;
    width: 100px;
}

.cart_name {
    width: 350px;
    word-wrap: break-word;
}

.product_delete_button {
    font-size: 15px;
    margin-left: 15px;
    background-color: rgba(150, 172, 199, 0.452);
    border-radius: 7px;
    width: 80px;
    height: 38px;
    box-shadow: 1px 1px 1px rgb(79, 99, 212),
    2px 2px 1px rgb(124, 105, 144);
    cursor: pointer;
}

.total_price {
    font-size: 23px;
    font-weight: bolder;
    text-align: center;
    width: 100vw;
    margin-top: 100px;
    margin-bottom: 100px;
}

.non_box {
    display: none;
}

.modal_box {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background:rgba(0, 0, 0, .5);
    font-size:0;
    text-align:center;
}

.modal_message_box {
    width: 400px;
    height: 150px;
    border: 2px solid rgba(55, 56, 126, 0.452);
    display:inline-block;
    padding:20px 30px;
    position: absolute;
    top:40%;
    left: 50%;
    margin: -250px 0 0 -250px;
    background:rgb(228, 239, 251);
    font-size:15px;
}

.modal_button {
    font-size: 18px;
    width: 90px;
    height: 38px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.modal_text {
    font-size: 25px;
    font-weight: bold;
}